body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background:
    linear-gradient(60deg, rgba(240, 116, 82, 0.74), rgba(209, 169, 248, 0.66));
    opacity: .95;
}

*{
    box-sizing: border-box;
}

.container {
    max-width: 45%;
    margin: .5vw auto;
    margin-bottom: 8vw;
    padding-top: 3vw;
    padding-bottom: 1vw;
    background-color: aliceblue;
    border-radius: .2vw;
    box-shadow: .7rem 0 .5rem -.7rem rgba(0, 0, 0, .5);
}

.inner {
    padding-left: 5vw;
    margin: 0;
    color: rgba(209, 169, 248, 0.9);
    filter: drop-shadow(.4rem .2rem .2rem #4d4b4b);
    font-size: 3.5vw;
    text-transform: uppercase;
}
.block {
    color: #f9bf73;
    max-width: 80%;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.container:hover .plus{
    opacity: 1;
}

.container:hover .block--inner span{
    transform: scale(113%);
    opacity: 1;
}

.block--inner {
    display: block;
    cursor: pointer;
    border-bottom: .12vw solid rgba(241, 194, 133, .9);
    padding: 1vw;
    padding-bottom: .1vw;
    display: flex;
    justify-content: space-between;
}

.block--inner span{
    font-size: 1.4rem;
    opacity: .6;
    transition: all .1s ease-in-out;
}

.input{
 appearance: none;
 width: 0;
 height: 0;
}

.plus{
    color: #f1c285;
    font-size: 2rem;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.block--info {
    cursor: pointer;
    height: 0%;
    transition: all .3s ease-in-out;
}

.block:hover .block--info{
    height: 30%;
}

.block:hover .block--info img{
    max-width: 45%;
    margin-top: 1vw;
}

.block:hover .block--inner {
    border-bottom: .12vw solid rgba(209, 169, 248, 0.9);
}

.block:hover .block--inner div{
    transform: rotate(45deg);
}

.block:active .block--inner div ,
.block:active .block--inner span{
    color: rgba(209, 169, 248, 0.9);
}

.block--info img{
    display: block;
    margin: 0 auto;
    margin-bottom: 1vw;
    max-width: 0;
    transition: all .3s ease-in-out;
}

input:checked + .block--inner{
    color: #f9bf73;
}

.input:checked + .block--inner div{
    transform: rotate(45deg);
}

.input:checked~.block--info{
    height: 30%;
}

.input:checked ~ .block--info img{
    max-width: 45%;
    margin-top: 1vw;
}

.input:checked + .block--inner span{
    transform: scale(113%);
    opacity: 1;
}

.input:checked ~ .block--inner {
    border-bottom: .2vw solid rgba(209, 169, 248, 0.9);
}
@media screen and (max-width: 1921px){
    .inner {
        font-size: 4vw;
    }
}

@media screen and (max-width: 1201px){
    .inner {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 821px){
    .container {
        max-width: 70%;
        margin: 9vw auto;
}

.inner {
    font-size: 6vw;
}

.plus{
    font-size: 3rem;
    margin-bottom: .5rem;
}

.block--inner span{
    font-size: 2rem;
}
}

@media screen and (max-width: 321px){
.container {
        max-width: 90%;
        cursor: default;
}
.inner {
    font-size: 7.5vw;
    filter: drop-shadow(.2rem .1rem .1rem #4d4b4b);
}

.plus{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.block--inner span{
    font-size: 1rem;
}
}
